body, p, ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d5caff;
  padding-top: 10px;
  padding-bottom: 10px;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#One {
  background-color: #FBFCFF;
  max-width: 500px;
  overflow: hidden;
  margin: 0px auto;
  border: 5px solid #9580F4;
  border-radius: 50px;
  box-shadow: -5px 5px 5px #afa4e2;
}

#One .container-list {
  overflow-y: scroll;
  padding: 0 5% 5% 5%;
  max-height: calc(100vh - 30px);
}

/* STYLE SCROLL */

#One .container-list::-webkit-scrollbar {
  width: 5px;
}

/* Track */

#One .container-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

#One .container-list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

#One .container-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
